@model tpi_website.Models.Ordersfixed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordersfixed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To_street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To_street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To_city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To_city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To_zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To_zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
